<div class="row marketing" ng-controller="UsersCtrl">
    <div class="col-lg-12 alert-warning">
        Issues have been found when editing and deleting users in the following browsers:
        <ul><li>Opera</li></ul>
        It is <strong><em>highly advised</em></strong> you use another browser.
    </div>
    <div class="col-lg-12">
        <span class="pull-right"><a ng-href="#/admin/user/new">New User</a></span>
        <h3>User Control</h3>
    </div>
    <div class="col-lg-12">
        <ul>
            <li ng-repeat="user in users">
            <span class="{{ user.active ? 'active' : 'non-active' }}">Name: <a ng-href="#/admin/user/{{ user.id }}">{{ user.user_name }} ({{ user.user_logon }})</a>
              <br>Role: {{ user.user_role }}</span><br>
            </li>
        </ul>
    </div>
</div>