<div class="row marketing">
    <form ng-submit="save()" name="userForm">
        <div class="col-lg-12">
            <span><a ng-href="#/admin/user">&#8592 Back</a></span>
            <button ng-if="type == 'edit'" id="delete" class="pull-right btn btn-danger" ng-click="delete()">Delete</button>
            <input type="submit" class="pull-right btn" value="Save" ng-disabled="!userForm.$valid"><br>
        </div>
        <div class="col-lg-12 has-error" ng-if="error != ''">{{ error }}</div>
        <div class="col-lg-12">
            <h3 ng-if="type == 'edit'">{{ user.user_logon }}</h3><br>
            <label>Name:<br><input type="text" required ng-model="user.user_name"></label><br>
            <label ng-if="type == 'new'">Username:<br><input type="text" required ng-model="user.user_logon"> <br></label>
            <label>Password:<br><input type="password" required ng-model="user.user_secret"></label><br>
            <label>Confirm Password:<br><input type="password" required></label><br>
            <label>
                User Role:<br>
                <select ng-model="user.user_role"><option ng-repeat="role in roles" value="{{ role.id }}">{{ role.user_role.charAt(0).toUpperCase() + role.user_role.slice(1) }}</option></select>
            </label><br>
            <label><strong>Active:</strong> <input type="checkbox" ng-model="user.active"></label>
        </div>
    </form>
</div>